@media all and (max-width: 600px) {
  header img { width: 20%; }
}

header {
  
  background-image: url(/photo-Basket/pexels-markus-spiske-1752757.jpg);
  background-size: cover;
  background-position: center;
}

.titre {
  font-family:'Permanent Marker', cursive;
}

.a {
  height: 50px;
}


.child {

  background-image: url(/photo-Basket/pexels-bk-aguilar-945471.jpg);
  background-size: cover;
  background-position: center;
  
 
}

.produits {
  min-height: 130px;
}

