@media all and (max-width: 600px) {
  header img { width: 20%; }
}

header {
  height: 25em;
  background-image: url(/photo-Basket/pexels-markus-spiske-1752757.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  background: rgb(216, 119, 0);

}

.titre {
  font-family:'Permanent Marker', cursive;
}

.a {
  height: 50px;
}


.child {
  height: 25em;
  background-image: url(/photo-Basket/pexels-bk-aguilar-945471.jpg);
  background-size: cover;
  background-position: center;
  
 
}

.produits {
  min-height: 130px;
}


.cercle {
  
  border-top-left-radius: 100%;
  
  background: rgb(216, 119, 0);
}

.btn:hover {
  
  background: rgb(216, 119, 0);
}
